%p
  %strong Commenter:
  = comment.commenter

  %strong Comment:
  = comment.body

%p
  = link_to [comment.post, comment],
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: "btn btn-danger btn-xs" do
    Destroy Comment
    %span.glyphicon.glyphicon-remove
