// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-a-comment {
  width: 500px;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px;
  border-style: solid;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}


