<!DOCTYPE html>
%html
  %head
    %title Welcome to Simple Rails blog
    = stylesheet_link_tag "application"

  %body
    %h1 Welcome to Simple Rails blog
    = yield

    = javascript_include_tag "application"
